@import url('https://fonts.googleapis.com/css?family=Paytone+One&subset=latin-ext');

/* Tady je magie a jednorožci */
html { box-sizing: border-box; }
*, ::before, :after { box-sizing: inherit; }


body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Paytone One', sans-serif;
	color: white;
	background-image: linear-gradient(-225deg, #c8d3df 0%, #aa6cc7 100%);
}

h1, h2, h3 {
	font-weight: normal;
}

h1 {
	margin-top: 0;
	font-size: 60px;
	color: white;
	text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
	text-transform: uppercase;
}

.obsah {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#winning-numbers {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 2rem;

}

.number {
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
	justify-content: center;
	color: rgb(9, 9, 55);
	font-size: 2rem;
}

.gold {
	background-color: gold;
}

#button {
	padding: 5px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-family: 'Paytone One', sans-serif;
	cursor: pointer;
	letter-spacing: 2px;
	border-radius: 5px;
	background-color: rgb(6, 155, 248);
	color: white;
	border: none;
	outline: none;
	margin: 2rem;
}

#button:hover {
 background-color: rgb(15, 169, 20);
}
